@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --font-family: 'Josefin Sans', sans-serif;
    --color-bg:rgba(23, 0, 133, 1);
    --color-footer : #00306e;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext: #FF8A71;

    --gradient-text: linear-gradient(89.7deg, #a44fff 1.84%, #ff7556),#ffffff;
    --gradient-bar: linear-gradient(103.22deg, #a44fff 13.86%, #ff7556),#ffffff;
    
    
}